@media only screen and (min-width: 768px) {
    .related-stories-wrap .component-list li:nth-child(1) {
        margin-left: 3.75%;
    }
    .related-stories-wrap .component-list li:nth-child(3) {
        margin-right: 3.75%;
    }

}

body {
    align-items: center;
}